server {
    server_name {{ item.domain }};

    {% if item.type == "reverse-proxy" %}
        {% include "reverse-proxy.j2" %}
    {% elif item.type == "static" %}
        {% include "static.j2" %}
    {% endif %}


    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ item.certificate }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.certificate }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
