server {
    server_name {{ item.domain }};

    {% if item.type == "reverse-proxy" %}
        {% include "reverse-proxy.j2" %}
    {% elif item.type == "static" %}
        {% include "static.j2" %}
    {% endif %}

    {% if "headers" in item %}
        {% for header, value in item["headers"].items() %}
            more_set_headers "{{ header }}: {{ value }}";
        {% endfor %}
    {% endif %}


    listen [::]:443 http2 ssl;
    listen 443 http2 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ sites[0]["domain"] }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ sites[0]["domain"] }}/privkey.pem;
    ssl_ciphers EECDH+CHACHA20:EECDH+AES128:RSA+AES128:EECDH+AES256:RSA+AES256:EECDH+3DES:RSA+3DES:!MD5;

    {% if "additional_ports" in item %}
        {% for port in item["additional_ports"] %}
            listen {{ port["port"] }} {{ "ssl http2" if port["tls"] else None }} default_server;
            listen [::]:{{ port["port"] }} {{ "ssl http2" if port["tls"] else None }} default_server;
        {% endfor %}
    {% endif %}

    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
